{% extends 'base_layout.html' %}

{% block content %}
<div>
    <div>
        <h1 class="QandA_dig_QA">Q</h1>
        <p class="QandA_Q_p">how much is one contener</p>
        <h1 class="QandA_big_QA">A</h1>
        <p class="QandA_A_p">it is about 200万円</p>    
    </div>
        <div>
        <h1 class="QandA_dig_QA">Q</h1>
        <p class="QandA_Q_p">how much is two contener</p>
        <h1 class="QandA_big_QA">A</h1>
        <p class="QandA_A_p">it is about 400万円</p>    
    </div>
        <div>
        <h1 class="QandA_dig_QA">Q</h1>
        <p class="QandA_Q_p">how much is thiree contener</p>
        <h1 class="QandA_big_QA">A</h1>
        <p class="QandA_A_p">it is about 600万円</p>    
    </div>

</div>

{% endblock content %}