{% extends 'base_layout.html' %}

{% block content %}
<h1>事例・実績紹介</h1>
<div class="articles">
    {% for article in articles%}
    <a href="{% url 'articles:detail' slug=article.slug %}">
        <div class="article">
            <h2>{{article.title}}</h2>
            <img class = "article_imgs"src="{{article.thumb.url}}">
            <p>{{article.snippet}}</p>
            <h5>{{article.date}}</h5>
            <h5 class="author">added by {{article.author.username}}</h5>
        </div>
    </a>
    {% endfor%}
</div>
{% endblock content %}