{% extends 'base_layout.html' %}

{% block content %}
{% load static %}
<h1>企業紹介</h1>
<div class="shoukai">
    <div>
    <p class = "shoukai_main_p">我々は「GO, NEXT STAGE」を掲げ社員一人一人が自らの役割を認識し持てる能力を駆使し創造性を発揮して新たなビジネスチャンスに挑みます。自己実現に向けて「変革・挑戦・創造する」人材の集合体です。</p>
    <img class = "shoukai_main_img"src="{% static 'shoukai_main.jpg' %}">
    </div>
    <div>
        <img class = "shoukai_sec_main_img" src="{% static 'shoukai_sec_main.png' %}" >
        <div class="shoukai_sec_main_p">
            <h2>イノベーションに必要な<br>あらゆる人材サービスを提供できる存在に</h2>
            <br>
            <p>「昔はね、自動車はお店で買って、自分で運転するものだったんだよ」自分の子供や孫たちにこんな説明をする日も、そう遠くはないかもしれません。</p>
            <br>
            <p>20世紀最大の発明のひとつである自動車産業では、世界の名だたる自動車メーカーが自分たちのビジネスを「自動車製造」から「モビリティサービス・プラットフォーム」へ変化させようとしています。FinTechの発達により、中国では道端の屋台でさえ電子決済が可能となりました。エストニアのように国全体で行政手続が電子化された国家も出現しています。</p>
            <br>
            <p>もはやITなくしては生活や仕事は成り立ちません。それらITの維持・発展を支えるのが、ITエンジニアであり、ITを活用して世に新しい価値を提供する企業なのです。そのITエンジニアと企業を支援することで、これからも世にイノベーションを起こし続ける。これが我々アイムファクトリーのミッションです。</p>
            <br>
            <p>テクノロジーの進化は日々急速に進みます。それに伴いITエンジニアの働き方やキャリアデザインも急速に変化し、ITエンジニアを必要とする企業の状況も刻々と変わり続けます。イノベーションに関わるすべての人と企業を支援するために、私たち自身もIT領域の最先端に立ち常に挑戦し、変化し続けることで、イノベーションに必要なあらゆる人材サービスを提供できる存在に成長していきたいと考えています。</p>
            <br>
            <p>代表取締役 ダスタギール　セイエド　グラーム</p>
        </div>
 
    </div>

</div>
{% endblock content %}