{% extends 'base_layout.html' %}
{% load static%}
{% block content %}
<!-- CSS only -->
<div>
    <div class="box-name">
        <h1 data-text="有限会社新富士(Shinfuji Co.,Ltd)" class="com-name">有限会社新富士(Shinfuji Co.,Ltd)</h1>
        <br><br>
        <!-- Shinfuji-Co.,Ltd -->
    </div>
</div>

<div class="box-p">
    <p class="com-p text-muted"><strong>有限会社新富士(<i>Shinfuji
                Co.,Ltd</i>)</strong>は<strong>輸出輸入</strong>を主に行う会社です。<br><br>代表者　ダストギール セイエド グラーム (ceo <i>Syed Ghulam
            Dastagir</i>)。<br><br>世界中に日本の技術、文化、歴史、を届ける輸出輸入専門の会社です。<br><br></p>
</div>

<br>
<br>
{% endblock content %}